<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h6 class="title is-6">Socials</h6>
                <ul>
                    <li><a href="https://discord.gg/aeRReEaNnm">Discord</a></li>
                    <li><a href="https://github.com/miners-online">GitHub</a></li>
                </ul>
            </div>
            <div class="column">
                <h6 class="title is-6">Resources</h6>
                <ul>
                    <li><a href="https://maps.minersonline.uk">Live Map</a></li>
                    <li><a href="/docs">Documentation</a></li>
                    <li><a href="/docs/rules">Server Rules</a></li>
                    <li><a href="/docs/faq">FAQ</a></li>
                </ul>
            </div>
            <div class="column">
                <h6 class="title is-6">Tools</h6>
                <ul>
                    <li><a href="https://account.minersonline.uk">My Account</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-narrow">
                <img src="/favicon-256x256.png" alt="Miners Online Logo" style="max-height: 2.5rem;"/>
            </div>
            <div class="column">
                <p>
                    &copy; 2017 - 2026 Miners Online. Not affiliated with Minecraft or Microsoft.
                    <br />
                    A community-driven Minecraft SMP for Java and Bedrock players.
                </p>
            </div>
        </div>
    </div>
</footer>
