---
---

<span
  class="badge ms-2 fs-6 align-middle bg-secondary"
  data-server-badge
  data-hostname={"play.minersonline.uk"}
>
  Checking... <noscript>Enable JS to see server status</noscript>
</span>

<script>
    async function updateBadge(badge: HTMLElement) {
        const hostname = badge.dataset.hostname;

        if (!hostname) {
            console.error("No hostname provided for server badge.");
            return;
        }

        try {
            const res = await fetch(`/api/status`);
            const data = await res.json();

            const online = data.servers[hostname]?.online;

            badge.textContent = online ? "Online" : "Offline";

            badge.classList.remove("bg-secondary", "bg-success", "bg-danger");
            badge.classList.add(online ? "bg-success" : "bg-danger");
        } catch (e) {
            badge.textContent = "Offline";
            badge.classList.remove("bg-secondary", "bg-success");
            badge.classList.add("bg-danger");
        }
    }

    document
      .querySelectorAll<HTMLElement>("[data-server-badge]")
      .forEach(updateBadge);
</script>