{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="home-background d-flex align-items-center justify-content-center flex-column text-white mb-4" style="background: url('https://placehold.co/2000x500') center / cover no-repeat; height: 500px">
    <h1>Welcome on Miners Online</h1>
    <h3>play.minersonline.uk</h3>
</div>
<div class="container content my-5">
    <div id="status-message"></div>

    <div class="card mb-4">
        <div class="card-body">
            <p>Test</p>
        </div>
    </div>
        
    <h2 class="text-center">
        Servers
    </h2>

    <div class="row gy-3 justify-content-center mb-4">
        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h3 class="card-title">
                        Miners Online
                    </h3>

                    <div class="progress mb-1">
                        <div class="progress-bar" role="progressbar" style="width: 0%"></div>
                    </div>

                    <p class="mb-1">
                        0/500 online players
                    </p>
                                
                    <p class="card-text">play.minersonline.uk</p>
                </div>
            </div>
        </div>
    </div>
        
    <h2 class="text-center">
        News
    </h2>

    <div class="row gy-3">
        <div class="col-md-6">
            <div class="post-preview card">
                <div class="card-body">
                    <h3 class="card-title">
                        <a href="https://www.minersonline.uk/news/miners-online-update2">Miners Online Update 2: New website and infrastructure</a>
                    </h3>
                    <p class="card-text">Throughout the last one month I have been working on the goals of simplification, professionalism, and clarity for Miners Online. This has resulted in a complete redesign of the website and a major overhaul of the backend infrastructure. In this art...</p>
                    <a class="btn btn-primary" href="https://www.minersonline.uk/news/miners-online-update2">
                        Read more
                    </a>
                </div>
                <div class="card-footer text-body-secondary">
                    Posted on May 1, 2026 by samuelh2005
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="post-preview card">
                <div class="card-body">
                    <h3 class="card-title">
                        <a href="https://www.minersonline.uk/news/miners-online-update1">Miners Online Update 1: Minigames Lobby</a>
                    </h3>
                    <p class="card-text">During the last 3 days at Miners Online we have been developing a new lobby server. When joining Miners Online you will land in lobby instead of the survival or creative worlds. This lobby server is online 24/7 meaning you will no longer get a scary...</p>
                    <a class="btn btn-primary" href="https://www.minersonline.uk/news/miners-online-update1">
                        Read more
                    </a>
                </div>
                <div class="card-footer text-body-secondary">
                    Posted on February 1, 2026 by samuelh2005
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="post-preview card">
                <div class="card-body">
                    <h3 class="card-title">
                        <a href="https://www.minersonline.uk/news/github-horror-story">GitHub Horror Story: When Our Site Was Stolen in the Dark</a>
                    </h3>
                    <p class="card-text">On October 27, 2024, the Miners Online website was compromised by an external entity associated with a foreign online casino, leading to the unauthorized takeover of our site. Upon discovering that our website had been replaced, I immediately conduc...</p>
                    <a class="btn btn-primary" href="https://www.minersonline.uk/news/github-horror-story">
                        Read more
                    </a>
                </div>
                <div class="card-footer text-body-secondary">
                    Posted on October 28, 2024 by samuelh2005
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
