.landing-page c4d-leadspace-block {
  margin-top: 32px;
  margin-bottom: 32px;
}

.landing-page c4d-content-block {
  margin-top: 32px;
  margin-bottom: 32px;
}

.landing-page c4d-content-block-cards {
  padding-top: 32px;
  padding-bottom: 32px;
}