{% extends "base.html" %}

{% block title %}{{ page_data.title }}{% endblock %}

{% block head %}
    <meta name="description" content="{{ page_data.description }}">
    <meta name="keywords" content="{{ page_data.tags|join(", ") }}">
    <meta name="author" content="{{ page_data.authors|join(", ") }}">
    <meta property="og:title" content="{{ page_data.title }}">
    <meta property="og:description" content="{{ page_data.description }}">
    <meta property="og:type" content="article">
{% endblock %}

{% block main %}
<main class="container content my-5">
    <h1>{{ page_data.title }}</h1>
    <div class="card mb-4">
        <div class="card-body">
            <div class="card-text">
                {{ content|safe }}
            </div>
            <hr>
            <div class="d-md-flex justify-content-between align-items-center">
                <div class="d-md-inline-block">
                    <p>Posted on {{ page_data.date }} by {{ page_data.authors|join(", ") }}</p>
                    <p>
                        {% for tag in page_data.tags %}
                            <span class="badge bg-secondary">{{ tag }}</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
