---
import DocumentationLayout from "../../layouts/DocumentationLayout.astro";
---

<DocumentationLayout title="Documentation">
    <h1>Documentation</h1>
    <p>
        Welcome to the Miners Online documentation! Here you'll find all the information you need to get started, understand server rules, learn about commands, and find answers to frequently asked questions.
    </p>
    <p>
        Use the navigation menu on the left to explore different sections of the documentation.
    </p>
</DocumentationLayout>