@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

.code-block {
    font-family: 'Monaco', 'Courier New', monospace;
    background-color: var(--color-base-300);
    border-radius: 0.375rem;
    padding: 1rem;
    margin: 1rem 0;
    word-break: break-all;
    transition: background-color 0.3s;
}

body {
    background-color: var(--color-base-300);
}