:root {
    --green-0: #edf7ee;
    --green-1: #dbefdc;
    --green-2: #b7dfb9;
    --green-3: #94cf96;
    --green-4: #70bf73;
    --green-5: #4CAF50;
    --green-6: #3d8c40;
    --green-7: #2e6930;
    --green-8: #1e4620;
    --green-9: #0f2310;
    --blue-0: #e9f5fe;
    --blue-1: #d3eafd;
    --blue-2: #a6d5fa;
    --blue-3: #7ac0f8;
    --blue-4: #4dabf5;
    --blue-5: #2196F3;
    --blue-6: #1a78c2;
    --blue-7: #145a92;
    --blue-8: #0d3c61;
    --blue-9: #071e31;
}

.content img {
    max-width: 100%;
    height: auto;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}

html, body {
    height: 100%;
}
