---
import Layout from "./Layout.astro";
import { getCollection } from "astro:content";
import SidebarItem from "./SidebarItem.astro";
import type { NavFolder } from '../types';

interface Props {
  title?: string;
  description?: string;
}

const docs = await getCollection("docs");

const rootFolder: NavFolder = {
  title: "Documentation",
  children: [],
};
docs.forEach((doc) => {
  const parts = doc.id.split("/");
  let currentFolder = rootFolder;

  parts.forEach((part, index) => {
    const isLastPart = index === parts.length - 1;
    if (isLastPart) {
      // It's a file
      currentFolder.children.push({
        title: doc.data.title,
        href: `/docs/${doc.id}`,
      });
    } else {
      // It's a folder
      const newTitle = part
        .split("-")
        .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
        .join(" ");

      let nextFolder = currentFolder.children.find(
        (child) => "title" in child && child.title === newTitle
      ) as NavFolder | undefined;

      if (!nextFolder) {
        nextFolder = { title: newTitle, children: [] };
        currentFolder.children.push(nextFolder);
      }

      currentFolder = nextFolder;
    }
  });
});


const { title } = Astro.props;
---

<Layout title={title} description={Astro.props.description}>
  <div class="flex flex-col md:flex-row min-h-screen">
    <ul class="menu w-full md:w-64 bg-base-200 rounded-box w-56">
      {rootFolder.children.map((item) => (
        <SidebarItem item={item} />
      ))}
    </ul>
    <main class="flex-1 p-6 bg-base-100">
      <div class="prose prose-lg max-w-full">
        <slot />
      </div>
    </main>
  </div>
</Layout>
