---
import type { NavItem } from '../types';

interface Props {
  item: NavItem;
}

const { item } = Astro.props;
---

{item.type === 'folder' ? (
    <li class="py-5">
        <p class="menu-label">{item.title}</p>
        <ul class="menu-list">
            {item.children.map((child) => (
                <Astro.self item={child} />
            ))}
        </ul>
    </li>
) : (
    <li>
        <a style="background-color: var(--bulma-scheme-main-bis);" href={item.href}>{item.title}</a>
    </li>
)}
